<div class="list-group">
  <div *ngFor="let post of listPosts" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{post.title}}</h5>
      <small>{{post.score}}</small>
    </div>
    <small>{{post.time*1000 | date:'short'}}</small>
  </div>
  <!-- <div class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">List group item heading</h5>
      <small>3 days ago</small>
    </div>
    <p class="mb-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, facere voluptate dolorem vitae aspernatur est at dolores tempore adipisci, natus soluta quam hic deserunt provident dolor repellat recusandae officiis ratione.</p>
    <small>Donec id elit non mi porta.</small>
  </div> -->
</div>
